body{
    margin-top:70px;
    color:#fff;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .form-group {
    color: white; 
  }

  #lbsInput {
    background: rgb(255, 204, 217);
    color: white;
  }

  #gramsOutput {
    background:		rgb(255, 204, 217);
    color: white;
  }
  .card-block {
    color: white;
  }

  #kgOutput {
    background: rgb(255, 204, 217);
    color: white;
  }

  #ozOutput {
    background: rgb(255, 204, 217);
    color: white;
  }